In [1]:
#Importing the modules
import pandas as pd
import numpy as np


from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.ensemble import IsolationForest
from pandas import DataFrame


from matplotlib import pyplot as plt
import seaborn as sns
import sklearn.metrics as metrics
import pickle

import shap

In [2]:
dados = pd.read_csv('Predicao_energia.csv', sep=';')
dados.head()

,L_501,L_503,L_511C,L_511R,L_512,L_521,L_551,L_561,L_562,Trasfega,Filtracao,Brassagem,Energia
0,0.00,0.000,2384.407,0.0,3020.924,0.0,0.000,0.00,0.00,10397,14865.0,17563.8,102784.59
1,0.00,0.000,1621.611,0.0,6076.104,170.8,0.000,2640.00,0.00,12859,3640.0,13985.4,115752.86
2,1407.75,2241.603,2118.966,0.0,2748.683,623.9,202.032,3868.92,441.96,11091,11693.0,12221.7,139420.40
3,2804.25,2814.027,3680.043,0.0,3817.594,35.4,0.000,271.20,1186.14,6238,0.0,14022.1,130246.60
4,3393.75,0.000,4069.322,0.0,6866.077,0.0,0.000,1642.08,797.52,3204,12852.0,12318.0,125788.40

In [3]:
model=IsolationForest(n_estimators=1000, random_state=0,contamination='auto')
model.fit(dados)
dados['anomaly']=model.predict(dados)
df1 = pd.DataFrame(dados['anomaly'])
df1

     anomaly
0          1
1          1
2         -1
3          1
4          1
..       ...
449        1
450        1
451        1
452        1
453        1

[454 rows x 1 columns]

In [4]:
outliers_counter = len(df1[df1['anomaly'] == -1])
outliers_counter

86

In [5]:
anomaly=df1.loc[df1['anomaly']==-1]
anomaly_index=list(anomaly.index)
print(anomaly_index)

[2, 7, 8, 9, 10, 17, 21, 22, 23, 34, 35, 36, 37, 38, 39, 40, 42, 50, 51, 68, 70, 79, 80, 81, 82, 85, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 108, 127, 173, 179, 181, 191, 212, 213, 214, 222, 223, 226, 228, 240, 258, 266, 278, 288, 296, 297, 299, 301, 308, 310, 318, 319, 331, 343, 355, 364, 377, 378, 389, 394, 396, 400, 405, 406, 422, 423, 424, 425, 443, 444]

In [8]:
dados = dados.drop(dados.index[[2, 6, 7, 8, 9, 10, 17, 21, 22, 23, 34, 35, 36, 37, 38, 39, 40, 42, 50, 51, 58, 68, 70, 72, 79, 80, 81, 82, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 108, 109, 110, 116, 120, 127, 173, 179, 191, 212, 213, 222, 223, 226, 240, 241, 245, 258, 265, 266, 278, 283, 288, 296, 297, 298, 299, 301, 303, 308, 310, 318, 319, 322, 324, 331, 343, 355, 359, 364, 377, 378, 389, 392, 394, 395, 396, 400, 405, 406, 422, 423, 424, 425, 426, 443, 444, 447]])

In [9]:


dados.to_csv('Energia_isolationForest.csv', encoding='utf-8', index=False)